<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>ECESWA eRegistration</title>
</head>

<body style="background-color:aliceblue;">

<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-black rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
    <li class="nav-item" role="presentation">
        <button class="nav-link active rounded-5 fw-bold" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Registration Report</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link rounded-5 fw-bold" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">
            <a th:href="@{/13/addCandidateForm}">Add New Candidate</a></button>
    </li>
    <li class="nav-item" role="presentation">
        <div>
            <form th:action="@{/logout}" method="POST">
                <button class="nav-link rounded-5 fw-bold" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">
                    Logout</button></form>
        </div>
    </li>
</ul>

<div class="container">
    <div class="button-container">
        <!--<form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="btn btn-secondary" style="margin-left:85%"></input>
        </form>
        <a th:href="@{/logout}">-->
    </div>
    <hr>
    <div class="button-container d-flex justify-content-left mb-4">
        <!--<a th:href="@{/2/addCandidateForm}" class="btn btn-primary btn-sm mb-3" style="margin-left:0%">New Candidate</a>
        <a th:href="@{/logout}" class="align-right">Logout</a>-->
        <div class="form-outline me-3" style="width:14rem">
            <form th:action="@{/13/upload}" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <!--<label for="excelFile">Select Spreadsheet</label>-->
                    <input class="form-control form-control-sm " type="file" id="excelFile" name="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                    <!--<input class="form-control form-control-sm" type="file" id="excelFile" name="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                    <input type="submit" value="Upload">-->
                </div>
            </form>
        </div>

    </div>
    <!--<hr>
    <a th:href="@{/13/addCandidateForm}" class="btn btn-primary btn-sm mb-3">New Candidate</a>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="btn btn-secondary" style="margin-left:85%"></input>
    </form>
    <form th:action="@{/13/upload}" method="POST" enctype="multipart/form-data">
        <label for="excelFile">Select Spreadsheet</label>
        <input type="file" id="excelFile" name="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
        <button type="submit">Upload</button>
    </form>-->
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Surname</th>
            <th>Names</th>
            <th>Gender</th>
            <th>OVC</th>
            <th>PIN</th>
            <th>Foreign ID</th>
            <th>DOB</th>
            <th>Subjects</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCandidate : ${candidates}">

            <td th:text="${tempCandidate.surname}"/>
            <td th:text="${tempCandidate.names}"/>
            <td th:text="${tempCandidate.gender}"/>
            <td th:text="${tempCandidate.ovcStatus}"/>
            <td th:text="${tempCandidate.nationalId}"/>
            <td th:text="${tempCandidate.foreignId}"/>
            <td th:text="${tempCandidate.dateOfBirth}"/>
            <td th:text="${tempCandidate.subjects}"/>
            <td>
                <a th:href="@{/13/updateCandidateForm(candidateId=${tempCandidate.id})}" class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/13/delete(candidateId=${tempCandidate.id})}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this candidate?'))) return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



